<div class="col" id="Students Search" style="padding:1%" hidden>
    <div class="row">
        <div class="col">
            <form action="" method="post">

                <div class="form-group">

                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Search By ID or Name" name="ajaxsearch"
                            id="ajaxsearch">

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<form action="" method="get"></form>
<div class="alert alert-warning" role="alert">
    <h1 class="alert-heading">Course Code<h2 id="done">{{code}}</h2>
        <input type="hidden" id="coursecod" value="{{code}}">
    </h1>
</div>
<div id="counter">

</div >


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">Student Name</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Day</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Course Grade</th>
            <th scope="col">Course Time</th>
            <th scope="col">Course Cost</th>
            <th scope="col">Attendes</th>
        </tr>
    </thead>
    <tbody id="tableetest">

        {{#each attend}}
        <tr>
            <td>{{this.StudentID}}</td>
            <td>{{this.StudentName}}</td>
            <td>{{this.courseName}}</td>
            <td>{{this.courseDay}}</td>
            <td>{{this.TeacherName}}</td>
            <td>{{this.coursegrade}}</td>
            <td>{{this.courseTime}}</td>
            <form action="">
                <td>{{this.courseCost}}</td>
            </form>
            <td>

                <form action="/putattend" method="post" id="attend">
                    <input type="hidden" name="StudentID" id="StudentID" value="{{this.StudentID}}">
                    <input type="hidden" name="CourseCode" id="CourseCode" value="{{this.CourseCode}}">
                    <input type="hidden" name="StudentName" id="StudentName" value="{{this.StudentName}}">
                    <input type="hidden" name="CoursePaided" id="CoursePaided" value="{{this.courseCost}}">
                    <input type="hidden" name="CenterCost" id="CenterCost" value="{{this.CenterCost}}">
                    <input type="hidden" name="TeacherCost" id="TeacherCost" value="{{this.TeacherCost}}">

                    <button type="submit" class="btn btn-info" name="attendadd"
                        id="Attend{{this.StudentID}}{{this.CourseCode}}"
                        onclick="$(this).hide();$('#Remove{{this.StudentID}}{{this.CourseCode}}').show();">Attend</button>
                </form>


                <form action="/removeattend" method="post">
                    <input type="hidden" name="StudentID" id="StudentID" value="{{this.StudentID}}">
                    <input type="hidden" name="CourseCode" id="CourseCode" value="{{this.CourseCode}}">
                    <input type="hidden" name="StudentName" id="StudentName" value="{{this.StudentName}}">
                    <input type="hidden" name="CoursePaided" id="CoursePaided" value="{{this.courseCost}}">
                    <input type="hidden" name="CenterCost" id="CenterCost" value="{{this.CenterCost}}">
                    <input type="hidden" name="TeacherCost" id="TeacherCost" value="{{this.TeacherCost}}">

                    <button type="submit" class="btn btn-danger" name="attendremove"
                        id="Remove{{this.StudentID}}{{this.CourseCode}}" onload="$(this).hide()"
                        onclick="$(this).hide();$('#Attend{{this.StudentID}}{{this.CourseCode}}').show();">Remove</button>
                </form>
                <script>
                    $('#Remove{{this.StudentID}}{{this.CourseCode}}').hide();
                </script>




            </td>

        </tr>

        {{/each}}
    </tbody>
</table>
</form>